# Aircraft Crashes Data Collection And Cleaning

## Overview

This notebook collects and prepares the data for the analysis of all the aircraft accidents since 1918.

### About dataset

**Crash**

`date` date and local time of the accident<br>
`aircraft` aircraft make and model<br>
`operator` operator of the aircraft<br>
`registration` unique code to a single aircraft<br>
`flight_phase` phase of the flight when the accident occured<br>
`flight_type` type of flight<br>
`survivors` indicates if there was survivors<br>
`site` type of location where the accident happened (ex: mountains)<br>
`schedule` planned route of the flight<br>
`msn` manufacturer's serial number of the aircraft<br>
`yom` year of manufacture of the aircraft<br>
`flight_number` flight number<br>
`location` location of the accident<br>
`country` country where the crash happened<br>
`region` region of the world where the crash happened<br>
`crew_on_board` number of crew members on board at the time of the accident<br>
`crew_fatalities` number of crew members who died in the crash<br>
`pax_on_board` number of passengers on board at the time of the accident<br>     
`pax_fatalities` number of passengers who died in the crash<br>                 
`other_fatalities` other victims of the accident outside of the aircraft<br>
`total_fatalities` total number of deaths<br>
`captain_flying_hours` number of flying hours of the captain<br>
`captain_flying_hours_on_type` number of hours the captain flew on the type of aircraft involved in the crash<br>
`copilot_flying_hours` number of flying hours of the copilot<br>  
`copilot_flying_hours_on_type` number of hours the copilot flew on the type of aircraft involved in the crash<br>  
`aircraft_flying_hours` number of flying hours of the plane involved in the crash<br>
`aircraft_flight_cycles` number of flights of the aircraft<br><br>


**Aircraft**

`make` manufacturer<br>
`model` model (name)<br>
`body` body type<br>
`wing` type of wing<br>
`position` wing position<br>
`tail` tail configuration<br>
`engine` type of engine<br>
`engine_count` number of engines<br>
`wing_span` distance from one wingtip to the opposite, in meters<br>
`length` length in meters<br>
`height` height in meters<br>
`manufactured_as` other names of the aircraft

## Data Collection

In [ ]:
from bs4 import BeautifulSoup
import math
import pandas as pd
import re
import requests
from urllib.parse import unquote

# Scrape total number of accidents
root_url = 'https://www.baaa-acro.com'

response = requests.get(root_url)
soup = BeautifulSoup(response.content, 'html.parser')
accident_files = soup.find('div', {'class': 'total-accident-files'})
nb_crashes = int(accident_files.text.replace(',', ''))

# Scrape details of all accidents
nb_rows_per_page = 20
nb_pages = math.ceil(nb_crashes / nb_rows_per_page)
csv_path = 'data/crashes_scraped_data.csv'

for i in range(nb_pages):
	listing_url = '{}/crash-archives?page={}'.format(root_url, i)
	response = requests.get(listing_url)
	soup = BeautifulSoup(response.content, 'html.parser')
	anchors = soup.find_all('a', {'class': 'red-btn'})

	crash_list = []
	
	for j, a in enumerate(anchors):
		link = a['href']
		#print('Page {}, link {}: {}{}'.format(i, j + 1, root_url, link))
		details_url = root_url + link
		response = requests.get(details_url)
		soup = BeautifulSoup(response.content, 'html.parser')
		details = {}
		
		details_div = soup.find('div', {'class': 'crash-details'})
		
		date_div = details_div.find('div', {'class': 'crash-date'})
		details['date'] = date_div.find('span').next_sibling.text.strip() if date_div else None
		
		aircraft_div = details_div.find('div', {'class': 'crash-aircraft'})
		details['aircraft_type'] = aircraft_div.find('a').find('div').text if aircraft_div else None
		
		operator_div = details_div.find('div', {'class': 'crash-operator'})

		if operator_div:
			if (operator_div.find('img')): # Extract operator name from image link
				pattern = re.compile(r'(?<=target_id=).*(?= \(\d+\))')
				img_link = unquote(operator_div.find('img').parent['href'])
				details['operator'] = pattern.search(img_link).group(0)
			else:
				details['operator'] = operator_div.find('a').find('div').text
		else:
			details['operator'] = None

		reg_div = details_div.find('div', {'class': 'crash-registration'})
		details['registration'] = reg_div.find('div').text if reg_div else None
		
		flight_phase_div = details_div.find('div', {'class': 'crash-flight-phase'})
		details['flight_phase'] = flight_phase_div.find('a').find('div').text if flight_phase_div else None
		
		flight_type_div = details_div.find('div', {'class': 'crash-flight-type'})
		details['flight_type'] = flight_type_div.find('a').find('div').text if flight_type_div else None
		
		survivors_div = details_div.find('div', {'class': 'crash-survivors'})
		details['survivors'] = survivors_div.find('a').find('div').text if survivors_div else None
		
		site_div = details_div.find('div', {'class': 'crash-site'})
		details['site'] = site_div.find('a').find('div').text if site_div else None
		
		schedule_div = details_div.find('div', {'class': 'crash-schedule'})
		details['schedule'] = schedule_div.find('div').text if schedule_div else None
		
		msn_div = details_div.find('div', {'class': 'crash-construction-num'})
		details['msn'] = msn_div.find('div').text if msn_div else None
		
		yom_div = details_div.find('div', {'class': 'crash-yom'})
		details['yom'] = yom_div.find('div').text if yom_div else None

		flight_number = details_div.find('div', {'class': 'crash-flight-number'})
		details['flight_number'] = flight_number.find('div').text if flight_number else None
		
		location_div = details_div.find('div', {'class': 'crash-location'})
		if location_div:
			location_details = location_div.select('a')
			details['location'] = ', '.join(item.text.strip() for item in location_details) if location_details else None
		else:
			details['location'] = None
		
		country_div = details_div.find('div', {'class': 'crash-country'})
		details['country'] = country_div.find('a').find('div').text if country_div else None
		
		region_div = details_div.find('div', {'class': 'crash-region'})
		details['region'] = region_div.find('a').find('div').text if region_div else None
		
		crew_on_board_div = details_div.find('div', {'class': 'crash-crew-on-board'})
		details['crew_on_board'] = crew_on_board_div.find('div').text if crew_on_board_div else None
		
		crew_fatalities_div = details_div.find('div', {'class': 'crash-crew-fatalities'})
		details['crew_fatalities'] = crew_fatalities_div.find('div').text if crew_fatalities_div else None
		
		pax_on_board_div = details_div.find('div', {'class': 'crash-pax-on-board'})
		details['pax_on_board'] = pax_on_board_div.find('div').text if pax_on_board_div else None
		
		pax_fatalities_div = details_div.find('div', {'class': 'crash-pax-fatalities'})
		details['pax_fatalities'] = pax_fatalities_div.find('div').text if pax_fatalities_div else None
		
		others_div = details_div.find('div', {'class': 'crash-other-fatalities'})
		details['other_fatalities'] = others_div.find('div').text if others_div else None
		
		total_fatalities_div = details_div.find('div', {'class': 'crash-total-fatalities'})
		details['total_fatalities'] = total_fatalities_div.find('div').text if total_fatalities_div else None

		captain_hours_div = details_div.find('div', {'class': 'captain-total-flying-hours'})
		details['captain_flying_hours'] = captain_hours_div.find('div').text if captain_hours_div else None

		captain_hours_type_div = details_div.find('div', {'class': 'captain-total-hours-type'})
		details['captain_flying_hours_on_type'] = captain_hours_type_div.find('div').text if captain_hours_type_div else None

		copilot_hours_div = details_div.find('div', {'class': 'copilot-total-flying-hours'})
		details['copilot_flying_hours'] = copilot_hours_div.find('div').text if copilot_hours_div else None

		copilot_hours_type_div = details_div.find('div', {'class': 'copilot-total-hours-type'})
		details['copilot_flying_hours_on_type'] = copilot_hours_type_div.find('div').text if copilot_hours_type_div else None

		aircraft_hours_div = details_div.find('div', {'class': 'crash-aircraft-flight-hours'})
		details['aircraft_flying_hours'] = aircraft_hours_div.find('div').text if aircraft_hours_div else None

		aircraft_cycles_div = details_div.find('div', {'class': 'crash-aircraft-flight-cycles'})
		details['aircraft_flight_cycles'] = aircraft_cycles_div.find('div').text if aircraft_cycles_div else None
		
		crash_list.append(details)
	
	crashes_df = pd.DataFrame(crash_list)

	if i == 0:
		crashes_df.to_csv(csv_path, index=False)
	else:
		crashes_df.to_csv(csv_path, index=False, header=False, mode='a')

In [108]:
# Scrape total number of planes
root_url = 'https://skybrary.aero'
aircraft_types = '/aircraft-types'

response = requests.get(root_url + aircraft_types)
soup = BeautifulSoup(response.content, 'html.parser')
view_header = soup.find('div', {'class': 'view-header'}).text

pattern = re.compile(r'(?<=below )\d+(?= results)')
nb_planes_str = pattern.search(view_header).group(0)
nb_planes = int(nb_planes_str)
nb_planes

580

In [109]:
# Scrape details of all planes
items_per_page = 50
nb_pages = math.ceil(nb_planes / items_per_page)
csv_path = 'data/planes_scraped_data.csv'

for i in range(nb_pages):
	listing_url = '{}{}?items_per_page={}&page={}'.format(root_url, aircraft_types, items_per_page, i)
	response = requests.get(listing_url)
	soup = BeautifulSoup(response.content, 'html.parser')
	masonry_items = soup.find_all('div', {'class': 'masonry-item views-row'})
	
	plane_list = []
	
	for j, item in enumerate(masonry_items):
		link = item.find('a')['href']
		details_url = root_url + link
		print('Page {}, link {}: {}'.format(i, j + 1, details_url))
		response = requests.get(details_url)
		soup = BeautifulSoup(response.content, 'html.parser')

		details = {}
		
		details['name'] = soup.find('div', {'class': 'field-node-dynamic-token-fieldnode-aircraft-name'}) \
			.find('div', {'class': 'field-items'}).find('p').text
		details['make'] = soup.find('div', {'class': 'field-node-field-aircraft-manufacturer'}).find('a').text
		details['model'] = soup.find('div', {'class': 'field-node-field-aircraft-name'}) \
			.find('div', {'class': 'field-items'}).find('div').text
		
		body_div = soup.find('div', {'class': 'field-node-field__body-type'})
		details['body'] =  body_div.find('div', {'class': 'field-items'}).find('div').text if body_div else None

		position_div = soup.find('div', {'class': 'field-node-field-wing-position'})
		details['position'] = position_div.find('div', {'class': 'field-items'}).find('div').text if position_div else None
		
		wing_div = soup.find('div', {'class': 'field-node-field-wing-type'})
		details['wing'] = wing_div.find('div', {'class': 'field-items'}).find('div').text if wing_div else None	

		tail_div = soup.find('div', {'class': 'field-node-field-tail-configuration'})
		details['tail'] = tail_div.find('div', {'class': 'field-items'}).find('div').text if tail_div else None	
		
		engine_div = soup.find('div', {'class': 'field-node-field-engine-type'})
		details['engine'] = engine_div.find('div', {'class': 'field-items'}).find('div').text if engine_div else None
		
		engine_count_div = soup.find('div', {'class': 'field-node-field-engine-count'})
		details['engine_count'] = engine_count_div.find('div', {'class': 'field-items'}).find('div').text if engine_count_div else None
		
		wing_span_div = soup.find('div', {'class': 'field-node-field-aircraft-wing-span'})
		details['wing_span'] = wing_span_div.find('div', {'class': 'field-items'}).find('div').text if wing_span_div else None
		
		length_div = soup.find('div', {'class': 'field-node-field-aircraft-length'})
		details['length'] =  length_div.find('div', {'class': 'field-items'}).find('div').text if length_div else None
		
		height_div = soup.find('div', {'class': 'field-node-field-aircraft-height'})
		details['height'] = height_div.find('div', {'class': 'field-items'}).find('div').text if height_div else None

		manufactured_as = soup.find('div', {'class': 'view-manufacturered-as'}).find_all('span', {'class': 'field-content'})
		details['manufactured_as'] = ', '.join(span.text for span in manufactured_as) if manufactured_as else None
		
		plane_list.append(details)
	
	planes_df = pd.DataFrame(plane_list)

	if i == 0:
		planes_df.to_csv(csv_path, index=False)
	else:
		planes_df.to_csv(csv_path, index=False, header=False, mode='a')

Page 0, link 1: https://skybrary.aero/aircraft/f260
Page 0, link 2: https://skybrary.aero/aircraft/m339
Page 0, link 3: https://skybrary.aero/aircraft/ac56
Page 0, link 4: https://skybrary.aero/aircraft/l159
Page 0, link 5: https://skybrary.aero/aircraft/ac68
Page 0, link 6: https://skybrary.aero/aircraft/sgup
Page 0, link 7: https://skybrary.aero/aircraft/l39
Page 0, link 8: https://skybrary.aero/aircraft/alo2
Page 0, link 9: https://skybrary.aero/aircraft/alo3
Page 0, link 10: https://skybrary.aero/aircraft/as32
Page 0, link 11: https://skybrary.aero/aircraft/as3b
Page 0, link 12: https://skybrary.aero/aircraft/as50
Page 0, link 13: https://skybrary.aero/aircraft/as55
Page 0, link 14: https://skybrary.aero/aircraft/as65
Page 0, link 15: https://skybrary.aero/aircraft/frel
Page 0, link 16: https://skybrary.aero/aircraft/gazl
Page 0, link 17: https://skybrary.aero/aircraft/lama
Page 0, link 18: https://skybrary.aero/aircraft/n262
Page 0, link 19: https://skybrary.aero/aircraft/puma
Page 0, link 20: https://skybrary.aero/aircraft/s601
Page 0, link 21: https://skybrary.aero/aircraft/conc
Page 0, link 22: https://skybrary.aero/aircraft/wt9
Page 0, link 23: https://skybrary.aero/aircraft/aest
Page 0, link 24: https://skybrary.aero/aircraft/m20p
Page 0, link 25: https://skybrary.aero/aircraft/a109
Page 0, link 26: https://skybrary.aero/aircraft/a119
Page 0, link 27: https://skybrary.aero/aircraft/a129
Page 0, link 28: https://skybrary.aero/aircraft/a139
Page 0, link 29: https://skybrary.aero/aircraft/a149
Page 0, link 30: https://skybrary.aero/aircraft/a169
Page 0, link 31: https://skybrary.aero/aircraft/a189
Page 0, link 32: https://skybrary.aero/aircraft/eh10
Page 0, link 33: https://skybrary.aero/aircraft/lynx
Page 0, link 34: https://skybrary.aero/aircraft/ckuo
Page 0, link 35: https://skybrary.aero/aircraft/a338
Page 0, link 36: https://skybrary.aero/aircraft/a339
Page 0, link 37: https://skybrary.aero/aircraft/a337
Page 0, link 38: https://skybrary.aero/aircraft/a19n
Page 0, link 39: https://skybrary.aero/aircraft/a20n
Page 0, link 40: https://skybrary.aero/aircraft/a21n
Page 0, link 41: https://skybrary.aero/aircraft/a306
Page 0, link 42: https://skybrary.aero/aircraft/a30b
Page 0, link 43: https://skybrary.aero/aircraft/a310
Page 0, link 44: https://skybrary.aero/aircraft/a318
Page 0, link 45: https://skybrary.aero/aircraft/a319
Page 0, link 46: https://skybrary.aero/aircraft/a320
Page 0, link 47: https://skybrary.aero/aircraft/a321
Page 0, link 48: https://skybrary.aero/aircraft/a332
Page 0, link 49: https://skybrary.aero/aircraft/a333
Page 0, link 50: https://skybrary.aero/aircraft/a342
Page 1, link 1: https://skybrary.aero/aircraft/a343
Page 1, link 2: https://skybrary.aero/aircraft/a345
Page 1, link 3: https://skybrary.aero/aircraft/a346
Page 1, link 4: https://skybrary.aero/aircraft/a358
Page 1, link 5: https://skybrary.aero/aircraft/a359
Page 1, link 6: https://skybrary.aero/aircraft/a35k
Page 1, link 7: https://skybrary.aero/aircraft/a388
Page 1, link 8: https://skybrary.aero/aircraft/a3st
Page 1, link 9: https://skybrary.aero/aircraft/a400
Page 1, link 10: https://skybrary.aero/aircraft/ec20
Page 1, link 11: https://skybrary.aero/aircraft/ec25
Page 1, link 12: https://skybrary.aero/aircraft/ec30
Page 1, link 13: https://skybrary.aero/aircraft/ec35
Page 1, link 14: https://skybrary.aero/aircraft/ec45
Page 1, link 15: https://skybrary.aero/aircraft/ec55
Page 1, link 16: https://skybrary.aero/aircraft/ec75
Page 1, link 17: https://skybrary.aero/aircraft/nh90
Page 1, link 18: https://skybrary.aero/aircraft/tigr
Page 1, link 19: https://skybrary.aero/aircraft/c27j
Page 1, link 20: https://skybrary.aero/aircraft/g222
Page 1, link 21: https://skybrary.aero/aircraft/amx
Page 1, link 22: https://skybrary.aero/aircraft/a124
Page 1, link 23: https://skybrary.aero/aircraft/a140
Page 1, link 24: https://skybrary.aero/aircraft/a225
Page 1, link 25: https://skybrary.aero/aircraft/an12
Page 1, link 26: https://skybrary.aero/aircraft/an22
Page 1, link 27: https://skybrary.aero/aircraft/an24
Page 1, link 28: https://skybrary.aero/aircraft/an26
Page 1, link 29: https://skybrary.aero/aircraft/an30
Page 1, link 30: https://skybrary.aero/aircraft/an32
Page 1, link 31: https://skybrary.aero/aircraft/an38
Page 1, link 32: https://skybrary.aero/aircraft/an70
Page 1, link 33: https://skybrary.aero/aircraft/an72
Page 1, link 34: https://skybrary.aero/aircraft/at43
Page 1, link 35: https://skybrary.aero/aircraft/at45
Page 1, link 36: https://skybrary.aero/aircraft/at46
Page 1, link 37: https://skybrary.aero/aircraft/at72
Page 1, link 38: https://skybrary.aero/aircraft/at73
Page 1, link 39: https://skybrary.aero/aircraft/at75
Page 1, link 40: https://skybrary.aero/aircraft/at76
Page 1, link 41: https://skybrary.aero/aircraft/at44
Page 1, link 42: https://skybrary.aero/aircraft/vulc
Page 1, link 43: https://skybrary.aero/aircraft/nim
Page 1, link 44: https://skybrary.aero/aircraft/rj85
Page 1, link 45: https://skybrary.aero/aircraft/rj1h
Page 1, link 46: https://skybrary.aero/aircraft/rj70
Page 1, link 47: https://skybrary.aero/aircraft/bt36
Page 1, link 48: https://skybrary.aero/aircraft/b190
Page 1, link 49: https://skybrary.aero/aircraft/b350
Page 1, link 50: https://skybrary.aero/aircraft/b36t
Page 2, link 1: https://skybrary.aero/aircraft/be10
Page 2, link 2: https://skybrary.aero/aircraft/be20
Page 2, link 3: https://skybrary.aero/aircraft/be23
Page 2, link 4: https://skybrary.aero/aircraft/be24
Page 2, link 5: https://skybrary.aero/aircraft/be30
Page 2, link 6: https://skybrary.aero/aircraft/be33
Page 2, link 7: https://skybrary.aero/aircraft/be36
Page 2, link 8: https://skybrary.aero/aircraft/be40
Page 2, link 9: https://skybrary.aero/aircraft/be50
Page 2, link 10: https://skybrary.aero/aircraft/be55
Page 2, link 11: https://skybrary.aero/aircraft/be56
Page 2, link 12: https://skybrary.aero/aircraft/be58
Page 2, link 13: https://skybrary.aero/aircraft/be60
Page 2, link 14: https://skybrary.aero/aircraft/be65
Page 2, link 15: https://skybrary.aero/aircraft/be70
Page 2, link 16: https://skybrary.aero/aircraft/be76
Page 2, link 17: https://skybrary.aero/aircraft/be77
Page 2, link 18: https://skybrary.aero/aircraft/be80
Page 2, link 19: https://skybrary.aero/aircraft/be99
Page 2, link 20: https://skybrary.aero/aircraft/be9l
Page 2, link 21: https://skybrary.aero/aircraft/be9t
Page 2, link 22: https://skybrary.aero/aircraft/star
Page 2, link 23: https://skybrary.aero/aircraft/b06
Page 2, link 24: https://skybrary.aero/aircraft/b06t
Page 2, link 25: https://skybrary.aero/aircraft/b212
Page 2, link 26: https://skybrary.aero/aircraft/b222
Page 2, link 27: https://skybrary.aero/aircraft/b230
Page 2, link 28: https://skybrary.aero/aircraft/b407
Page 2, link 29: https://skybrary.aero/aircraft/b412
Page 2, link 30: https://skybrary.aero/aircraft/b427
Page 2, link 31: https://skybrary.aero/aircraft/b429
Page 2, link 32: https://skybrary.aero/aircraft/b430
Page 2, link 33: https://skybrary.aero/aircraft/b47g
Page 2, link 34: https://skybrary.aero/aircraft/b47j
Page 2, link 35: https://skybrary.aero/aircraft/b505
Page 2, link 36: https://skybrary.aero/aircraft/bstp
Page 2, link 37: https://skybrary.aero/aircraft/huco
Page 2, link 38: https://skybrary.aero/aircraft/suco
Page 2, link 39: https://skybrary.aero/aircraft/uh1
Page 2, link 40: https://skybrary.aero/aircraft/uh1y
Page 2, link 41: https://skybrary.aero/aircraft/v22
Page 2, link 42: https://skybrary.aero/aircraft/a50
Page 2, link 43: https://skybrary.aero/aircraft/be12
Page 2, link 44: https://skybrary.aero/aircraft/ber2
Page 2, link 45: https://skybrary.aero/aircraft/ber4
Page 2, link 46: https://skybrary.aero/aircraft/b38m
Page 2, link 47: https://skybrary.aero/aircraft/b39m
Page 2, link 48: https://skybrary.aero/aircraft/b52
Page 2, link 49: https://skybrary.aero/aircraft/b701
Page 2, link 50: https://skybrary.aero/aircraft/b703
Page 3, link 1: https://skybrary.aero/aircraft/b712
Page 3, link 2: https://skybrary.aero/aircraft/b721
Page 3, link 3: https://skybrary.aero/aircraft/b722
Page 3, link 4: https://skybrary.aero/aircraft/b731
Page 3, link 5: https://skybrary.aero/aircraft/b732
Page 3, link 6: https://skybrary.aero/aircraft/b733
Page 3, link 7: https://skybrary.aero/aircraft/b734
Page 3, link 8: https://skybrary.aero/aircraft/b735
Page 3, link 9: https://skybrary.aero/aircraft/b736
Page 3, link 10: https://skybrary.aero/aircraft/b737
Page 3, link 11: https://skybrary.aero/aircraft/b738
Page 3, link 12: https://skybrary.aero/aircraft/b739
Page 3, link 13: https://skybrary.aero/aircraft/b741
Page 3, link 14: https://skybrary.aero/aircraft/b742
Page 3, link 15: https://skybrary.aero/aircraft/b743
Page 3, link 16: https://skybrary.aero/aircraft/b744
Page 3, link 17: https://skybrary.aero/aircraft/b748
Page 3, link 18: https://skybrary.aero/aircraft/b74d
Page 3, link 19: https://skybrary.aero/aircraft/b74r
Page 3, link 20: https://skybrary.aero/aircraft/b74s
Page 3, link 21: https://skybrary.aero/aircraft/b752
Page 3, link 22: https://skybrary.aero/aircraft/b753
Page 3, link 23: https://skybrary.aero/aircraft/b762
Page 3, link 24: https://skybrary.aero/aircraft/b763
Page 3, link 25: https://skybrary.aero/aircraft/b764
Page 3, link 26: https://skybrary.aero/aircraft/b772
Page 3, link 27: https://skybrary.aero/aircraft/b773
Page 3, link 28: https://skybrary.aero/aircraft/b77l
Page 3, link 29: https://skybrary.aero/aircraft/b77w
Page 3, link 30: https://skybrary.aero/aircraft/b788
Page 3, link 31: https://skybrary.aero/aircraft/b789
Page 3, link 32: https://skybrary.aero/aircraft/blcf
Page 3, link 33: https://skybrary.aero/aircraft/c135
Page 3, link 34: https://skybrary.aero/aircraft/c17
Page 3, link 35: https://skybrary.aero/aircraft/c97
Page 3, link 36: https://skybrary.aero/aircraft/e3cf
Page 3, link 37: https://skybrary.aero/aircraft/e3tf
Page 3, link 38: https://skybrary.aero/aircraft/e6
Page 3, link 39: https://skybrary.aero/aircraft/e737
Page 3, link 40: https://skybrary.aero/aircraft/f15
Page 3, link 41: https://skybrary.aero/aircraft/f18h
Page 3, link 42: https://skybrary.aero/aircraft/h47
Page 3, link 43: https://skybrary.aero/aircraft/k35e
Page 3, link 44: https://skybrary.aero/aircraft/k35r
Page 3, link 45: https://skybrary.aero/aircraft/r135
Page 3, link 46: https://skybrary.aero/aircraft/b78x
Page 3, link 47: https://skybrary.aero/aircraft/bcs1
Page 3, link 48: https://skybrary.aero/aircraft/bcs3
Page 3, link 49: https://skybrary.aero/aircraft/cl30
Page 3, link 50: https://skybrary.aero/aircraft/cl60
Page 4, link 1: https://skybrary.aero/aircraft/crj1
Page 4, link 2: https://skybrary.aero/aircraft/crj2
Page 4, link 3: https://skybrary.aero/aircraft/crj7
Page 4, link 4: https://skybrary.aero/aircraft/crj9
Page 4, link 5: https://skybrary.aero/aircraft/crjx
Page 4, link 6: https://skybrary.aero/aircraft/dh8b
Page 4, link 7: https://skybrary.aero/aircraft/dh8c
Page 4, link 8: https://skybrary.aero/aircraft/dh8d
Page 4, link 9: https://skybrary.aero/aircraft/gl5t
Page 4, link 10: https://skybrary.aero/aircraft/gl7t
Page 4, link 11: https://skybrary.aero/aircraft/glex
Page 4, link 12: https://skybrary.aero/aircraft/atla
Page 4, link 13: https://skybrary.aero/aircraft/atp
Page 4, link 14: https://skybrary.aero/aircraft/b461
Page 4, link 15: https://skybrary.aero/aircraft/b462
Page 4, link 16: https://skybrary.aero/aircraft/b463
Page 4, link 17: https://skybrary.aero/aircraft/ba11
Page 4, link 18: https://skybrary.aero/aircraft/har
Page 4, link 19: https://skybrary.aero/aircraft/hawk
Page 4, link 20: https://skybrary.aero/aircraft/js31
Page 4, link 21: https://skybrary.aero/aircraft/js32
Page 4, link 22: https://skybrary.aero/aircraft/js41
Page 4, link 23: https://skybrary.aero/aircraft/bn2p
Page 4, link 24: https://skybrary.aero/aircraft/bn2t
Page 4, link 25: https://skybrary.aero/aircraft/tris
Page 4, link 26: https://skybrary.aero/aircraft/bu31
Page 4, link 27: https://skybrary.aero/aircraft/bu33
Page 4, link 28: https://skybrary.aero/aircraft/cl2t
Page 4, link 29: https://skybrary.aero/aircraft/c101
Page 4, link 30: https://skybrary.aero/aircraft/c212
Page 4, link 31: https://skybrary.aero/aircraft/cn35
Page 4, link 32: https://skybrary.aero/aircraft/c06t
Page 4, link 33: https://skybrary.aero/aircraft/c07t
Page 4, link 34: https://skybrary.aero/aircraft/c10t
Page 4, link 35: https://skybrary.aero/aircraft/c150
Page 4, link 36: https://skybrary.aero/aircraft/c152
Page 4, link 37: https://skybrary.aero/aircraft/c162
Page 4, link 38: https://skybrary.aero/aircraft/c172
Page 4, link 39: https://skybrary.aero/aircraft/c177
Page 4, link 40: https://skybrary.aero/aircraft/c182
Page 4, link 41: https://skybrary.aero/aircraft/c185
Page 4, link 42: https://skybrary.aero/aircraft/c205
Page 4, link 43: https://skybrary.aero/aircraft/c207
Page 4, link 44: https://skybrary.aero/aircraft/c208
Page 4, link 45: https://skybrary.aero/aircraft/c210
Page 4, link 46: https://skybrary.aero/aircraft/c25a
Page 4, link 47: https://skybrary.aero/aircraft/c303
Page 4, link 48: https://skybrary.aero/aircraft/c310
Page 4, link 49: https://skybrary.aero/aircraft/c337
Page 4, link 50: https://skybrary.aero/aircraft/c340
Page 5, link 1: https://skybrary.aero/aircraft/c402
Page 5, link 2: https://skybrary.aero/aircraft/c404
Page 5, link 3: https://skybrary.aero/aircraft/c411
Page 5, link 4: https://skybrary.aero/aircraft/c414
Page 5, link 5: https://skybrary.aero/aircraft/c421
Page 5, link 6: https://skybrary.aero/aircraft/c425
Page 5, link 7: https://skybrary.aero/aircraft/c441
Page 5, link 8: https://skybrary.aero/aircraft/c500
Page 5, link 9: https://skybrary.aero/aircraft/c501
Page 5, link 10: https://skybrary.aero/aircraft/c510
Page 5, link 11: https://skybrary.aero/aircraft/c525
Page 5, link 12: https://skybrary.aero/aircraft/c550
Page 5, link 13: https://skybrary.aero/aircraft/c551
Page 5, link 14: https://skybrary.aero/aircraft/c560
Page 5, link 15: https://skybrary.aero/aircraft/c56x
Page 5, link 16: https://skybrary.aero/aircraft/c650
Page 5, link 17: https://skybrary.aero/aircraft/c750
Page 5, link 18: https://skybrary.aero/aircraft/c77r
Page 5, link 19: https://skybrary.aero/aircraft/c82r
Page 5, link 20: https://skybrary.aero/aircraft/f406
Page 5, link 21: https://skybrary.aero/aircraft/p210
Page 5, link 22: https://skybrary.aero/aircraft/t37
Page 5, link 23: https://skybrary.aero/aircraft/sf50
Page 5, link 24: https://skybrary.aero/aircraft/sr20
Page 5, link 25: https://skybrary.aero/aircraft/sr22
Page 5, link 26: https://skybrary.aero/aircraft/c42
Page 5, link 27: https://skybrary.aero/aircraft/ac11
Page 5, link 28: https://skybrary.aero/aircraft/cvlt
Page 5, link 29: https://skybrary.aero/aircraft/cvlp
Page 5, link 30: https://skybrary.aero/aircraft/ajet
Page 5, link 31: https://skybrary.aero/aircraft/etar
Page 5, link 32: https://skybrary.aero/aircraft/f2th
Page 5, link 33: https://skybrary.aero/aircraft/f900
Page 5, link 34: https://skybrary.aero/aircraft/fa10
Page 5, link 35: https://skybrary.aero/aircraft/fa20
Page 5, link 36: https://skybrary.aero/aircraft/fa50
Page 5, link 37: https://skybrary.aero/aircraft/fa7x
Page 5, link 38: https://skybrary.aero/aircraft/mir2
Page 5, link 39: https://skybrary.aero/aircraft/mrf1
Page 5, link 40: https://skybrary.aero/aircraft/rfal
Page 5, link 41: https://skybrary.aero/aircraft/dh3t
Page 5, link 42: https://skybrary.aero/aircraft/dh8a
Page 5, link 43: https://skybrary.aero/aircraft/dhc2
Page 5, link 44: https://skybrary.aero/aircraft/dhc3
Page 5, link 45: https://skybrary.aero/aircraft/dhc5
Page 5, link 46: https://skybrary.aero/aircraft/dhc6
Page 5, link 47: https://skybrary.aero/aircraft/dhc7
Page 5, link 48: https://skybrary.aero/aircraft/dh2t
Page 5, link 49: https://skybrary.aero/aircraft/rval
Page 5, link 50: https://skybrary.aero/aircraft/dg1t
Page 6, link 1: https://skybrary.aero/aircraft/da36
Page 6, link 2: https://skybrary.aero/aircraft/da42
Page 6, link 3: https://skybrary.aero/aircraft/da50
Page 6, link 4: https://skybrary.aero/aircraft/dimo
Page 6, link 5: https://skybrary.aero/aircraft/dv20
Page 6, link 6: https://skybrary.aero/aircraft/da40
Page 6, link 7: https://skybrary.aero/aircraft/dc3
Page 6, link 8: https://skybrary.aero/aircraft/dc85
Page 6, link 9: https://skybrary.aero/aircraft/dc86
Page 6, link 10: https://skybrary.aero/aircraft/dc87
Page 6, link 11: https://skybrary.aero/aircraft/dc91
Page 6, link 12: https://skybrary.aero/aircraft/dc92
Page 6, link 13: https://skybrary.aero/aircraft/dc93
Page 6, link 14: https://skybrary.aero/aircraft/dc94
Page 6, link 15: https://skybrary.aero/aircraft/dc95
Page 6, link 16: https://skybrary.aero/aircraft/ea50
Page 6, link 17: https://skybrary.aero/aircraft/e110
Page 6, link 18: https://skybrary.aero/aircraft/e120
Page 6, link 19: https://skybrary.aero/aircraft/e121
Page 6, link 20: https://skybrary.aero/aircraft/e135
Page 6, link 21: https://skybrary.aero/aircraft/e145
Page 6, link 22: https://skybrary.aero/aircraft/e170
Page 6, link 23: https://skybrary.aero/aircraft/e190
Page 6, link 24: https://skybrary.aero/aircraft/e195
Page 6, link 25: https://skybrary.aero/aircraft/e275
Page 6, link 26: https://skybrary.aero/aircraft/e290
Page 6, link 27: https://skybrary.aero/aircraft/e295
Page 6, link 28: https://skybrary.aero/aircraft/e35l
Page 6, link 29: https://skybrary.aero/aircraft/e45x
Page 6, link 30: https://skybrary.aero/aircraft/e50p
Page 6, link 31: https://skybrary.aero/aircraft/e545
Page 6, link 32: https://skybrary.aero/aircraft/e550
Page 6, link 33: https://skybrary.aero/aircraft/e55p
Page 6, link 34: https://skybrary.aero/aircraft/e75l
Page 6, link 35: https://skybrary.aero/aircraft/e75s
Page 6, link 36: https://skybrary.aero/aircraft/tuca
Page 6, link 37: https://skybrary.aero/aircraft/eufi
Page 6, link 38: https://skybrary.aero/aircraft/ex5t
Page 6, link 39: https://skybrary.aero/aircraft/e500
Page 6, link 40: https://skybrary.aero/aircraft/e200
Page 6, link 41: https://skybrary.aero/aircraft/e230
Page 6, link 42: https://skybrary.aero/aircraft/e300
Page 6, link 43: https://skybrary.aero/aircraft/e400
Page 6, link 44: https://skybrary.aero/aircraft/a10
Page 6, link 45: https://skybrary.aero/aircraft/d228
Page 6, link 46: https://skybrary.aero/aircraft/d328
Page 6, link 47: https://skybrary.aero/aircraft/j328
Page 6, link 48: https://skybrary.aero/aircraft/as02
Page 6, link 49: https://skybrary.aero/aircraft/as2t
Page 6, link 50: https://skybrary.aero/aircraft/f100
Page 7, link 1: https://skybrary.aero/aircraft/f27
Page 7, link 2: https://skybrary.aero/aircraft/f28
Page 7, link 3: https://skybrary.aero/aircraft/f50
Page 7, link 4: https://skybrary.aero/aircraft/f70
Page 7, link 5: https://skybrary.aero/aircraft/foug
Page 7, link 6: https://skybrary.aero/aircraft/dino
Page 7, link 7: https://skybrary.aero/aircraft/lj28
Page 7, link 8: https://skybrary.aero/aircraft/lj31
Page 7, link 9: https://skybrary.aero/aircraft/lj35
Page 7, link 10: https://skybrary.aero/aircraft/lj55
Page 7, link 11: https://skybrary.aero/aircraft/q9
Page 7, link 12: https://skybrary.aero/aircraft/f111
Page 7, link 13: https://skybrary.aero/aircraft/f16
Page 7, link 14: https://skybrary.aero/aircraft/g109
Page 7, link 15: https://skybrary.aero/aircraft/g115
Page 7, link 16: https://skybrary.aero/aircraft/a6
Page 7, link 17: https://skybrary.aero/aircraft/f14
Page 7, link 18: https://skybrary.aero/aircraft/g159
Page 7, link 19: https://skybrary.aero/aircraft/g73t
Page 7, link 20: https://skybrary.aero/aircraft/glf2
Page 7, link 21: https://skybrary.aero/aircraft/e2
Page 7, link 22: https://skybrary.aero/aircraft/ac95
Page 7, link 23: https://skybrary.aero/aircraft/g280
Page 7, link 24: https://skybrary.aero/aircraft/glf3
Page 7, link 25: https://skybrary.aero/aircraft/glf4
Page 7, link 26: https://skybrary.aero/aircraft/glf5
Page 7, link 27: https://skybrary.aero/aircraft/glf6
Page 7, link 28: https://skybrary.aero/aircraft/js20
Page 7, link 29: https://skybrary.aero/aircraft/a748

---

## Data Exploration

### Crashes

In [35]:
crashes_df = pd.read_csv('data/crashes_scraped_data.csv')
crashes_df.head()

,date,aircraft_type,operator,registration,flight_phase,flight_type,survivors,site,schedule,msn,...,pax_on_board,pax_fatalities,other_fatalities,total_fatalities,captain_flying_hours,captain_flying_hours_on_type,copilot_flying_hours,copilot_flying_hours_on_type,aircraft_flying_hours,aircraft_flight_cycles
0,"Mar 13, 2025 at 0733 LT",Cessna 525 CitationJet CJ2,LBL 525 CZ LLC,N525CZ,Takeoff (climb),Private,No,"Plain, Valley",Mesquite - Addison,525A-0380,...,0.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,"Mar 7, 2025",Antonov AN-32,Indian Air Force - Bharatiya Vayu Sena,NaN,Landing (descent or approach),Military,Yes,Airport (less than 10 km from airport),NaN,NaN,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,"Mar 4, 2025 at 0954 LT",BAe Jetstream 31,SAETA Perú (Servicios Aéreos Tarapota),OB-2178,Landing (descent or approach),Scheduled Revenue Flight,Yes,Airport (less than 10 km from airport),Iquitos - Güeppí,861,...,11.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,"Feb 25, 2025",Antonov AN-26,Sudanese Air Force - Al Quwwat al-Jawwiya As-S...,NaN,Takeoff (climb),Military,No,City,NaN,NaN,...,13.0,13.0,29.0,46,NaN,NaN,NaN,NaN,NaN,NaN
4,"Feb 23, 2025",Ilyushin II-76,Sudanese Air Force - Al Quwwat al-Jawwiya As-S...,1106,Flight,Military,No,Desert,NaN,10234 08265,...,0.0,0.0,0.0,7,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
crashes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36086 entries, 0 to 36085
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          36086 non-null  object
 1   aircraft_type                 36086 non-null  object
 2   operator                      36084 non-null  object
 3   registration                  34899 non-null  object
 4   flight_phase                  35475 non-null  object
 5   flight_type                   36029 non-null  object
 6   survivors                     34810 non-null  object
 7   site                          35719 non-null  object
 8   schedule                      25712 non-null  object
 9   msn                           28064 non-null  object
 10  yom                           26336 non-null  float64
 11  flight_number                 2895 non-null   object
 12  location                      36075 non-null  object
 13  country                       36083 non-null  object
 14  region                        36084 non-null  object
 15  crew_on_board                 36064 non-null  float64
 16  crew_fatalities               36085 non-null  float64
 17  pax_on_board                  36036 non-null  float64
 18  pax_fatalities                36082 non-null  float64
 19  other_fatalities              36070 non-null  float64
 20  total_fatalities              36086 non-null  int64
 21  captain_flying_hours          6880 non-null   float64
 22  captain_flying_hours_on_type  5845 non-null   float64
 23  copilot_flying_hours          2231 non-null   float64
 24  copilot_flying_hours_on_type  1990 non-null   float64
 25  aircraft_flying_hours         5703 non-null   float64
 26  aircraft_flight_cycles        1473 non-null   float64
dtypes: float64(12), int64(1), object(14)
memory usage: 7.4+ MB

In [ ]:
crashes_df.isnull().sum()

date                                0
aircraft_type                       0
operator                            2
registration                     1187
flight_phase                      611
flight_type                        57
survivors                        1276
site                              367
schedule                        10374
msn                              8022
yom                              9750
flight_number                   33191
location                           11
country                             3
region                              2
crew_on_board                      22
crew_fatalities                     1
pax_on_board                       50
pax_fatalities                      4
other_fatalities                   16
total_fatalities                    0
captain_flying_hours            29206
captain_flying_hours_on_type    30241
copilot_flying_hours            33855
copilot_flying_hours_on_type    34096
aircraft_flying_hours           30383
aircraft_flight_cycles          34613
dtype: int64

In [ ]:
# Check for duplicates
crashes_df[crashes_df.duplicated(keep=False)]

,date,aircraft_type,operator,registration,flight_phase,flight_type,survivors,site,schedule,msn,...,pax_on_board,pax_fatalities,other_fatalities,total_fatalities,captain_flying_hours,captain_flying_hours_on_type,copilot_flying_hours,copilot_flying_hours_on_type,aircraft_flying_hours,aircraft_flight_cycles
2499,"Jun 15, 2008",Harbin Yunsunji Y-12,China Flying Dragon Special Aviation Company,B-3841,Flight,Geographical / Geophysical / Scientific,Yes,Mountains,NaN,0061,...,2.0,2.0,0.0,3,NaN,NaN,NaN,NaN,NaN,NaN
2500,"Jun 15, 2008",Harbin Yunsunji Y-12,China Flying Dragon Special Aviation Company,B-3841,Flight,Geographical / Geophysical / Scientific,Yes,Mountains,NaN,0061,...,2.0,2.0,0.0,3,NaN,NaN,NaN,NaN,NaN,NaN
7539,"Jun 8, 1988",Lockheed C-130 Hercules,United States Air Force - USAF (since 1947),61-2373,Landing (descent or approach),Training,No,Airport (less than 10 km from airport),Little Rock - Greenville,3720,...,0.0,0.0,0.0,6,NaN,NaN,NaN,NaN,NaN,NaN
7540,"Jun 8, 1988",Lockheed C-130 Hercules,United States Air Force - USAF (since 1947),61-2373,Landing (descent or approach),Training,No,Airport (less than 10 km from airport),Little Rock - Greenville,3720,...,0.0,0.0,0.0,6,NaN,NaN,NaN,NaN,NaN,NaN
7659,"Dec 28, 1987",PZL-Mielec AN-2,Aeroflot - Russian International Airlines,CCCP-02531,Takeoff (climb),Scheduled Revenue Flight,Yes,"Plain, Valley",NaN,1G121-15,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33820,"Sep 30, 1933",Avro 594 Avian,Holden's Air Transport Services,VH-UIV,Landing (descent or approach),Cargo,Yes,Airport (less than 10 km from airport),Salamaua – Bulolo,193,...,1.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
34999,"Oct 18, 1928",Douglas M-3,National Air Transport - USA,NC1064,Flight,Postal (mail),No,Mountains,Cleveland – New York,658,...,0.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN
35000,"Oct 18, 1928",Douglas M-3,National Air Transport - USA,NC1064,Flight,Postal (mail),No,Mountains,Cleveland – New York,658,...,0.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN
35539,"Dec 31, 1923",Loening 23 Air Yacht,New York-Newport Air Service,NaN,NaN,Scheduled Revenue Flight,Yes,"Lake, Sea, Ocean, River",NaN,NaN,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
35540,"Dec 31, 1923",Loening 23 Air Yacht,New York-Newport Air Service,NaN,NaN,Scheduled Revenue Flight,Yes,"Lake, Sea, Ocean, River",NaN,NaN,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Check number of unique values
crashes_df.nunique()

date                            28447
aircraft_type                    1176
operator                         9365
registration                    34040
flight_phase                        5
flight_type                        31
survivors                           2
site                                6
schedule                        16829
msn                             20551
yom                               151
flight_number                    2814
location                        17272
country                           219
region                              9
crew_on_board                      31
crew_fatalities                    25
pax_on_board                      255
pax_fatalities                    187
other_fatalities                   47
total_fatalities                  202
captain_flying_hours             4132
captain_flying_hours_on_type     2129
copilot_flying_hours             1709
copilot_flying_hours_on_type     1071
aircraft_flying_hours            4939
aircraft_flight_cycles           1421
dtype: int64

### Planes

In [110]:
planes_df = pd.read_csv('data/planes_scraped_data.csv')
planes_df.head()

,name,make,model,body,position,wing,tail,engine,engine_count,wing_span,length,height,manufactured_as
0,AERMACCHI SF.260,AERMACCHI,SF.260,Narrow,NaN,Fixed Wing,NaN,Piston,Single,8.22 m,7.00 m,2.60 m,"TUSAS SF-260, SIAI-MARCHETTI SF-260E, SIAI-MAR..."
1,AERMACCHI MB-339,AERMACCHI,MB-339,Narrow,Low wing with wing tip tanks,Fixed Wing,"Regular tail, low set",Jet,Single,10.90 m,11.00 m,4.00 m,AERMACCHI MB-339
2,AERO (1) Commander 560,AERO (1),Commander 560,Narrow,High wing,Fixed Wing,"Regular tail, low set",Piston,Multi,14.90 m,11.20 m,4.60 m,"AERO (1) L-26B Commander 560, AERO (1) U-4A Co..."
3,AERO (2) L-159,AERO (2),L-159,Narrow,Low wing with wing tip tanks,Fixed Wing,"Regular tail, mid set",Jet,Single,9.50 m,12.70 m,4.80 m,"AERO (2) Albatros 2, AERO (2) L-159 Albatros 2..."
4,AERO COMMANDER Commander 680F,AERO COMMANDER,Commander 680F,Narrow,High wing,Fixed Wing,"Regular tail, low set",Piston,Multi,13.40 m,13.10 m,4.60 m,"AERO (1) U-9 Commander 680 Super, AERO (1) U-4..."

In [111]:
planes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             580 non-null    object
 1   make             580 non-null    object
 2   model            580 non-null    object
 3   body             520 non-null    object
 4   position         440 non-null    object
 5   wing             578 non-null    object
 6   tail             438 non-null    object
 7   engine           577 non-null    object
 8   engine_count     577 non-null    object
 9   wing_span        574 non-null    object
 10  length           574 non-null    object
 11  height           572 non-null    object
 12  manufactured_as  538 non-null    object
dtypes: object(13)
memory usage: 59.0+ KB

In [113]:
planes_df.isnull().sum()

name                 0
make                 0
model                0
body                60
position           140
wing                 2
tail               142
engine               3
engine_count         3
wing_span            6
length               6
height               8
manufactured_as     42
dtype: int64

In [114]:
# Check for duplicates
planes_df[planes_df.duplicated(keep=False)]

Empty DataFrame
Columns: [name, make, model, body, position, wing, tail, engine, engine_count, wing_span, length, height, manufactured_as]
Index: []

In [115]:
planes_df.nunique()

name               579
make               125
model              578
body                 2
position            25
wing                 3
tail                21
engine               5
engine_count         2
wing_span          319
length             402
height             292
manufactured_as    537
dtype: int64

---

## Data Cleaning

### Planes

In [116]:
# Convert wing_span, length and height to float
dimensions = ['wing_span', 'length', 'height']

for column in dimensions:
	planes_df[column] = planes_df[column].str.replace(' m', '')
	planes_df[column] = planes_df[column].astype('float')


planes_df[dimensions].describe()

        wing_span      length      height
count  574.000000  574.000000  572.000000
mean    22.318049   22.744599    6.712605
std     15.023240   16.815490    4.504609
min      5.300000    2.830000    1.000000
25%     11.500000   10.580000    3.550000
50%     15.850000   16.050000    4.960000
75%     28.700000   30.177500    8.590000
max     88.500000   84.000000   24.090000

### Crashes

In [ ]:
# Convert date column to datetime
crashes_df['date'] = pd.to_datetime(crashes_df['date'], format='%b %d, %Y at %H%M LT', errors='coerce') \
					.fillna(pd.to_datetime(crashes_df['date'], format='%b %d, %Y', errors='coerce'))
crashes_df.sample(5)

,date,aircraft_type,operator,registration,flight_phase,flight_type,survivors,site,schedule,msn,...,pax_on_board,pax_fatalities,other_fatalities,total_fatalities,captain_flying_hours,captain_flying_hours_on_type,copilot_flying_hours,copilot_flying_hours_on_type,aircraft_flying_hours,aircraft_flight_cycles
7005,1990-01-11 10:30:00,Boeing KC-135 Stratotanker,United States Air Force - USAF (since 1947),59-1494,Parking,Military,Yes,Airport (less than 10 km from airport),NaN,17982,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
28697,1941-06-13 01:35:00,Armstrong Whitworth AW.38 Whitley,Royal Air Force - RAF,Z6721,Flight,Bombing,Yes,"Lake, Sea, Ocean, River",Leeming - Leeming,2109,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
11599,1976-01-21 00:00:00,Antonov AN-24,CAAC - Civil Aviation Administration of China,B-492,Landing (descent or approach),Scheduled Revenue Flight,No,Airport (less than 10 km from airport),Guangzhou – Changsha – Hangzhou – Shanghai,NaN,...,36.0,36.0,0.0,40,NaN,NaN,NaN,NaN,NaN,NaN
18828,1952-02-03 00:00:00,De Havilland DH.104 Dove,Indian Air Force - Bharatiya Vayu Sena,HW516,Takeoff (climb),Military,Yes,Airport (less than 10 km from airport),Lucknow – New Delhi,04159,...,6.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
10155,1979-12-23 00:00:00,GAF Nomad N.22,Douglas Airways,P2-DNL,Landing (descent or approach),Scheduled Revenue Flight,No,Airport (less than 10 km from airport),Port Moresby - Manari,39,...,14.0,14.0,0.0,16,5000.0,NaN,NaN,NaN,NaN,NaN

In [94]:
# Remove duplicates
crashes_df = crashes_df.drop_duplicates()

In [121]:
crashes_df['aircraft_type'].nunique()

1176

In [ ]:
# TODO: Collapse aircraft types from crashes with planes dataframe
possible_names = planes_df['name'] + ', ' + planes_df['manufactured_as']

for names_str in possible_names:
  name_list = str(names_str).split(', ')
  same_plane_mask = crashes_df['aircraft_type'].isin(name_list)
  crashes_df.loc[same_plane_mask, 'aircraft_type'] = name_list[0]

In [131]:
crashes_df['aircraft_type'].nunique()

1176

In [83]:
crashes_df.columns

Index(['date', 'aircraft_type', 'operator', 'registration', 'flight_phase',
       'flight_type', 'survivors', 'site', 'schedule', 'msn', 'yom',
       'flight_number', 'location', 'country', 'region', 'crew_on_board',
       'crew_fatalities', 'pax_on_board', 'pax_fatalities', 'other_fatalities',
       'total_fatalities', 'captain_flying_hours',
       'captain_flying_hours_on_type', 'copilot_flying_hours',
       'copilot_flying_hours_on_type', 'aircraft_flying_hours',
       'aircraft_flight_cycles'],
      dtype='object')

## End