# Aircraft Crashes Data Collection And Cleaning

## Overview

This notebook collects and prepares the data for the analysis of all the aircraft accidents since 1918.

### About dataset

**Crash**

`date` date and local time of the accident<br>
`aircraft` aircraft make and model<br>
`operator` operator of the aircraft<br>
`registration` unique code to a single aircraft<br>
`flight_phase` phase of the flight when the accident occured<br>
`flight_type` type of flight<br>
`survivors` indicates if there was survivors<br>
`site` type of location where the accident happened (ex: mountains)<br>
`schedule` planned route of the flight<br>
`msn` manufacturer's serial number of the aircraft<br>
`yom` year of manufacture of the aircraft<br>
`flight_number` flight number<br>
`location` location of the accident<br>
`country` country where the crash happened<br>
`region` region of the world where the crash happened<br>
`crew_on_board` number of crew members on board at the time of the accident<br>
`crew_fatalities` number of crew members who died in the crash<br>
`pax_on_board` number of passengers on board at the time of the accident<br>     
`pax_fatalities` number of passengers who died in the crash<br>                 
`other_fatalities` other victims of the accident outside of the aircraft<br>
`total_fatalities` total number of deaths<br>
`captain_flying_hours` number of flying hours of the captain<br>
`captain_flying_hours_on_type` number of hours the captain flew on the type of aircraft involved in the crash<br>
`copilot_flying_hours` number of flying hours of the copilot<br>  
`copilot_flying_hours_on_type` number of hours the copilot flew on the type of aircraft involved in the crash<br>  
`aircraft_flying_hours` number of flying hours of the plane involved in the crash<br>
`aircraft_flight_cycles` number of flights of the aircraft<br><br>


**Aircraft**

`make` manufacturer<br>
`model` model (name)<br>
`body` body type<br>
`wing` type of wing<br>
`position` wing position<br>
`tail` tail configuration<br>
`engine` type of engine<br>
`engine_count` number of engines<br>
`wing_span` distance from one wingtip to the opposite, in meters<br>
`length` length in meters<br>
`height` height in meters<br>
`manufactured_as` other names of the aircraft

## Data Collection

In [376]:
from bs4 import BeautifulSoup
from datetime import datetime
import math
import pandas as pd
import re
import requests
from urllib.parse import unquote
from thefuzz import fuzz, process

# Scrape total number of accidents
root_url = 'https://www.baaa-acro.com'

response = requests.get(root_url)
soup = BeautifulSoup(response.content, 'html.parser')
accident_files = soup.find('div', {'class': 'total-accident-files'})
nb_crashes = int(accident_files.text.replace(',', ''))

# Scrape details of all accidents
nb_rows_per_page = 20
nb_pages = math.ceil(nb_crashes / nb_rows_per_page)
csv_path = 'data/crashes_scraped_data.csv'

for i in range(nb_pages):
	listing_url = '{}/crash-archives?page={}'.format(root_url, i)
	response = requests.get(listing_url)
	soup = BeautifulSoup(response.content, 'html.parser')
	anchors = soup.find_all('a', {'class': 'red-btn'})

	crash_list = []
	
	for j, a in enumerate(anchors):
		link = a['href']
		#print('Page {}, link {}: {}{}'.format(i, j + 1, root_url, link))
		details_url = root_url + link
		response = requests.get(details_url)
		soup = BeautifulSoup(response.content, 'html.parser')
		details = {}
		
		details_div = soup.find('div', {'class': 'crash-details'})
		
		date_div = details_div.find('div', {'class': 'crash-date'})
		details['date'] = date_div.find('span').next_sibling.text.strip() if date_div else None
		
		aircraft_div = details_div.find('div', {'class': 'crash-aircraft'})
		details['aircraft_type'] = aircraft_div.find('a').find('div').text if aircraft_div else None
		
		operator_div = details_div.find('div', {'class': 'crash-operator'})

		if operator_div:
			if (operator_div.find('img')): # Extract operator name from image link
				pattern = re.compile(r'(?<=target_id=).*(?= \(\d+\))')
				img_link = unquote(operator_div.find('img').parent['href'])
				details['operator'] = pattern.search(img_link).group(0)
			else:
				details['operator'] = operator_div.find('a').find('div').text
		else:
			details['operator'] = None

		reg_div = details_div.find('div', {'class': 'crash-registration'})
		details['registration'] = reg_div.find('div').text if reg_div else None
		
		flight_phase_div = details_div.find('div', {'class': 'crash-flight-phase'})
		details['flight_phase'] = flight_phase_div.find('a').find('div').text if flight_phase_div else None
		
		flight_type_div = details_div.find('div', {'class': 'crash-flight-type'})
		details['flight_type'] = flight_type_div.find('a').find('div').text if flight_type_div else None
		
		survivors_div = details_div.find('div', {'class': 'crash-survivors'})
		details['survivors'] = survivors_div.find('a').find('div').text if survivors_div else None
		
		site_div = details_div.find('div', {'class': 'crash-site'})
		details['site'] = site_div.find('a').find('div').text if site_div else None
		
		schedule_div = details_div.find('div', {'class': 'crash-schedule'})
		details['schedule'] = schedule_div.find('div').text if schedule_div else None
		
		msn_div = details_div.find('div', {'class': 'crash-construction-num'})
		details['msn'] = msn_div.find('div').text if msn_div else None
		
		yom_div = details_div.find('div', {'class': 'crash-yom'})
		details['yom'] = yom_div.find('div').text if yom_div else None

		flight_number = details_div.find('div', {'class': 'crash-flight-number'})
		details['flight_number'] = flight_number.find('div').text if flight_number else None
		
		location_div = details_div.find('div', {'class': 'crash-location'})
		if location_div:
			location_details = location_div.select('a')
			details['location'] = ', '.join(item.text.strip() for item in location_details) if location_details else None
		else:
			details['location'] = None
		
		country_div = details_div.find('div', {'class': 'crash-country'})
		details['country'] = country_div.find('a').find('div').text if country_div else None
		
		region_div = details_div.find('div', {'class': 'crash-region'})
		details['region'] = region_div.find('a').find('div').text if region_div else None
		
		crew_on_board_div = details_div.find('div', {'class': 'crash-crew-on-board'})
		details['crew_on_board'] = crew_on_board_div.find('div').text if crew_on_board_div else None
		
		crew_fatalities_div = details_div.find('div', {'class': 'crash-crew-fatalities'})
		details['crew_fatalities'] = crew_fatalities_div.find('div').text if crew_fatalities_div else None
		
		pax_on_board_div = details_div.find('div', {'class': 'crash-pax-on-board'})
		details['pax_on_board'] = pax_on_board_div.find('div').text if pax_on_board_div else None
		
		pax_fatalities_div = details_div.find('div', {'class': 'crash-pax-fatalities'})
		details['pax_fatalities'] = pax_fatalities_div.find('div').text if pax_fatalities_div else None
		
		others_div = details_div.find('div', {'class': 'crash-other-fatalities'})
		details['other_fatalities'] = others_div.find('div').text if others_div else None
		
		total_fatalities_div = details_div.find('div', {'class': 'crash-total-fatalities'})
		details['total_fatalities'] = total_fatalities_div.find('div').text if total_fatalities_div else None

		captain_hours_div = details_div.find('div', {'class': 'captain-total-flying-hours'})
		details['captain_flying_hours'] = captain_hours_div.find('div').text if captain_hours_div else None

		captain_hours_type_div = details_div.find('div', {'class': 'captain-total-hours-type'})
		details['captain_flying_hours_on_type'] = captain_hours_type_div.find('div').text if captain_hours_type_div else None

		copilot_hours_div = details_div.find('div', {'class': 'copilot-total-flying-hours'})
		details['copilot_flying_hours'] = copilot_hours_div.find('div').text if copilot_hours_div else None

		copilot_hours_type_div = details_div.find('div', {'class': 'copilot-total-hours-type'})
		details['copilot_flying_hours_on_type'] = copilot_hours_type_div.find('div').text if copilot_hours_type_div else None

		aircraft_hours_div = details_div.find('div', {'class': 'crash-aircraft-flight-hours'})
		details['aircraft_flying_hours'] = aircraft_hours_div.find('div').text if aircraft_hours_div else None

		aircraft_cycles_div = details_div.find('div', {'class': 'crash-aircraft-flight-cycles'})
		details['aircraft_flight_cycles'] = aircraft_cycles_div.find('div').text if aircraft_cycles_div else None
		
		crash_list.append(details)
	
	crashes_df = pd.DataFrame(crash_list)

	if i == 0:
		crashes_df.to_csv(csv_path, index=False)
	else:
		crashes_df.to_csv(csv_path, index=False, header=False, mode='a')

# Scrape total number of planes
root_url = 'https://skybrary.aero'
aircraft_types = '/aircraft-types'

response = requests.get(root_url + aircraft_types)
soup = BeautifulSoup(response.content, 'html.parser')
view_header = soup.find('div', {'class': 'view-header'}).text

pattern = re.compile(r'(?<=below )\d+(?= results)')
nb_planes_str = pattern.search(view_header).group(0)
nb_planes = int(nb_planes_str)
nb_planes

# Scrape details of all planes
items_per_page = 50
nb_pages = math.ceil(nb_planes / items_per_page)
csv_path = 'data/aircrafts_scraped_data.csv'

for i in range(nb_pages):
	listing_url = '{}{}?items_per_page={}&page={}'.format(root_url, aircraft_types, items_per_page, i)
	response = requests.get(listing_url)
	soup = BeautifulSoup(response.content, 'html.parser')
	masonry_items = soup.find_all('div', {'class': 'masonry-item views-row'})
	
	aircraft_list = []
	
	for j, item in enumerate(masonry_items):
		link = item.find('a')['href']
		details_url = root_url + link
		print('Page {}, link {}: {}'.format(i, j + 1, details_url))
		response = requests.get(details_url)
		soup = BeautifulSoup(response.content, 'html.parser')

		details = {}
		
		details['name'] = soup.find('div', {'class': 'field-node-dynamic-token-fieldnode-aircraft-name'}) \
			.find('div', {'class': 'field-items'}).find('p').text
		details['make'] = soup.find('div', {'class': 'field-node-field-aircraft-manufacturer'}).find('a').text
		details['model'] = soup.find('div', {'class': 'field-node-field-aircraft-name'}) \
			.find('div', {'class': 'field-items'}).find('div').text
		
		body_div = soup.find('div', {'class': 'field-node-field__body-type'})
		details['body'] =  body_div.find('div', {'class': 'field-items'}).find('div').text if body_div else None

		position_div = soup.find('div', {'class': 'field-node-field-wing-position'})
		details['position'] = position_div.find('div', {'class': 'field-items'}).find('div').text if position_div else None
		
		wing_div = soup.find('div', {'class': 'field-node-field-wing-type'})
		details['wing'] = wing_div.find('div', {'class': 'field-items'}).find('div').text if wing_div else None	

		tail_div = soup.find('div', {'class': 'field-node-field-tail-configuration'})
		details['tail'] = tail_div.find('div', {'class': 'field-items'}).find('div').text if tail_div else None	
		
		engine_div = soup.find('div', {'class': 'field-node-field-engine-type'})
		details['engine'] = engine_div.find('div', {'class': 'field-items'}).find('div').text if engine_div else None
		
		engine_count_div = soup.find('div', {'class': 'field-node-field-engine-count'})
		details['engine_count'] = engine_count_div.find('div', {'class': 'field-items'}).find('div').text if engine_count_div else None
		
		wing_span_div = soup.find('div', {'class': 'field-node-field-aircraft-wing-span'})
		details['wing_span'] = wing_span_div.find('div', {'class': 'field-items'}).find('div').text if wing_span_div else None
		
		length_div = soup.find('div', {'class': 'field-node-field-aircraft-length'})
		details['length'] =  length_div.find('div', {'class': 'field-items'}).find('div').text if length_div else None
		
		height_div = soup.find('div', {'class': 'field-node-field-aircraft-height'})
		details['height'] = height_div.find('div', {'class': 'field-items'}).find('div').text if height_div else None

		aircraft_list.append(details)

		# Add a row for every different manufacture name
		manufactured_as = soup.find('div', {'class': 'view-manufacturered-as'}).find_all('span', {'class': 'field-content'})
		manufactured_as_list = [span.text for span in manufactured_as] if manufactured_as else None

		if manufactured_as_list:
			for other_name in manufactured_as_list:
				new_details = details.copy()
				new_details.update({'name': other_name})
				aircraft_list.append(new_details)
	
	aircrafts_df = pd.DataFrame(aircraft_list)

	if i == 0:
		aircrafts_df.to_csv(csv_path, index=False)
	else:
		aircrafts_df.to_csv(csv_path, index=False, header=False, mode='a')

---

## Data Exploration

### Crashes

In [366]:
crashes_df = pd.read_csv('data/crashes_scraped_data.csv')
crashes_df.head()

,date,aircraft_type,operator,registration,flight_phase,flight_type,survivors,site,schedule,msn,...,pax_on_board,pax_fatalities,other_fatalities,total_fatalities,captain_flying_hours,captain_flying_hours_on_type,copilot_flying_hours,copilot_flying_hours_on_type,aircraft_flying_hours,aircraft_flight_cycles
0,"Mar 13, 2025 at 0733 LT",Cessna 525 CitationJet CJ2,LBL 525 CZ LLC,N525CZ,Takeoff (climb),Private,No,"Plain, Valley",Mesquite - Addison,525A-0380,...,0.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,"Mar 7, 2025",Antonov AN-32,Indian Air Force - Bharatiya Vayu Sena,NaN,Landing (descent or approach),Military,Yes,Airport (less than 10 km from airport),NaN,NaN,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,"Mar 4, 2025 at 0954 LT",BAe Jetstream 31,SAETA Perú (Servicios Aéreos Tarapota),OB-2178,Landing (descent or approach),Scheduled Revenue Flight,Yes,Airport (less than 10 km from airport),Iquitos - Güeppí,861,...,11.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,"Feb 25, 2025",Antonov AN-26,Sudanese Air Force - Al Quwwat al-Jawwiya As-S...,NaN,Takeoff (climb),Military,No,City,NaN,NaN,...,13.0,13.0,29.0,46,NaN,NaN,NaN,NaN,NaN,NaN
4,"Feb 23, 2025",Ilyushin II-76,Sudanese Air Force - Al Quwwat al-Jawwiya As-S...,1106,Flight,Military,No,Desert,NaN,10234 08265,...,0.0,0.0,0.0,7,NaN,NaN,NaN,NaN,NaN,NaN

In [367]:
crashes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36086 entries, 0 to 36085
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          36086 non-null  object
 1   aircraft_type                 36086 non-null  object
 2   operator                      36084 non-null  object
 3   registration                  34899 non-null  object
 4   flight_phase                  35475 non-null  object
 5   flight_type                   36029 non-null  object
 6   survivors                     34810 non-null  object
 7   site                          35719 non-null  object
 8   schedule                      25712 non-null  object
 9   msn                           28064 non-null  object
 10  yom                           26336 non-null  float64
 11  flight_number                 2895 non-null   object
 12  location                      36075 non-null  object
 13  country                       36083 non-null  object
 14  region                        36084 non-null  object
 15  crew_on_board                 36064 non-null  float64
 16  crew_fatalities               36085 non-null  float64
 17  pax_on_board                  36036 non-null  float64
 18  pax_fatalities                36082 non-null  float64
 19  other_fatalities              36070 non-null  float64
 20  total_fatalities              36086 non-null  int64
 21  captain_flying_hours          6880 non-null   float64
 22  captain_flying_hours_on_type  5845 non-null   float64
 23  copilot_flying_hours          2231 non-null   float64
 24  copilot_flying_hours_on_type  1990 non-null   float64
 25  aircraft_flying_hours         5703 non-null   float64
 26  aircraft_flight_cycles        1473 non-null   float64
dtypes: float64(12), int64(1), object(14)
memory usage: 7.4+ MB

In [368]:
crashes_df.isnull().sum()

date                                0
aircraft_type                       0
operator                            2
registration                     1187
flight_phase                      611
flight_type                        57
survivors                        1276
site                              367
schedule                        10374
msn                              8022
yom                              9750
flight_number                   33191
location                           11
country                             3
region                              2
crew_on_board                      22
crew_fatalities                     1
pax_on_board                       50
pax_fatalities                      4
other_fatalities                   16
total_fatalities                    0
captain_flying_hours            29206
captain_flying_hours_on_type    30241
copilot_flying_hours            33855
copilot_flying_hours_on_type    34096
aircraft_flying_hours           30383
aircraft_flight_cycles          34613
dtype: int64

In [369]:
# Check for duplicates
crashes_df[crashes_df.duplicated(keep=False)]

,date,aircraft_type,operator,registration,flight_phase,flight_type,survivors,site,schedule,msn,...,pax_on_board,pax_fatalities,other_fatalities,total_fatalities,captain_flying_hours,captain_flying_hours_on_type,copilot_flying_hours,copilot_flying_hours_on_type,aircraft_flying_hours,aircraft_flight_cycles
2499,"Jun 15, 2008",Harbin Yunsunji Y-12,China Flying Dragon Special Aviation Company,B-3841,Flight,Geographical / Geophysical / Scientific,Yes,Mountains,NaN,0061,...,2.0,2.0,0.0,3,NaN,NaN,NaN,NaN,NaN,NaN
2500,"Jun 15, 2008",Harbin Yunsunji Y-12,China Flying Dragon Special Aviation Company,B-3841,Flight,Geographical / Geophysical / Scientific,Yes,Mountains,NaN,0061,...,2.0,2.0,0.0,3,NaN,NaN,NaN,NaN,NaN,NaN
7539,"Jun 8, 1988",Lockheed C-130 Hercules,United States Air Force - USAF (since 1947),61-2373,Landing (descent or approach),Training,No,Airport (less than 10 km from airport),Little Rock - Greenville,3720,...,0.0,0.0,0.0,6,NaN,NaN,NaN,NaN,NaN,NaN
7540,"Jun 8, 1988",Lockheed C-130 Hercules,United States Air Force - USAF (since 1947),61-2373,Landing (descent or approach),Training,No,Airport (less than 10 km from airport),Little Rock - Greenville,3720,...,0.0,0.0,0.0,6,NaN,NaN,NaN,NaN,NaN,NaN
7659,"Dec 28, 1987",PZL-Mielec AN-2,Aeroflot - Russian International Airlines,CCCP-02531,Takeoff (climb),Scheduled Revenue Flight,Yes,"Plain, Valley",NaN,1G121-15,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33820,"Sep 30, 1933",Avro 594 Avian,Holden's Air Transport Services,VH-UIV,Landing (descent or approach),Cargo,Yes,Airport (less than 10 km from airport),Salamaua – Bulolo,193,...,1.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
34999,"Oct 18, 1928",Douglas M-3,National Air Transport - USA,NC1064,Flight,Postal (mail),No,Mountains,Cleveland – New York,658,...,0.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN
35000,"Oct 18, 1928",Douglas M-3,National Air Transport - USA,NC1064,Flight,Postal (mail),No,Mountains,Cleveland – New York,658,...,0.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN
35539,"Dec 31, 1923",Loening 23 Air Yacht,New York-Newport Air Service,NaN,NaN,Scheduled Revenue Flight,Yes,"Lake, Sea, Ocean, River",NaN,NaN,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
35540,"Dec 31, 1923",Loening 23 Air Yacht,New York-Newport Air Service,NaN,NaN,Scheduled Revenue Flight,Yes,"Lake, Sea, Ocean, River",NaN,NaN,...,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [370]:
# Check number of unique values
crashes_df.nunique()

date                            28447
aircraft_type                    1176
operator                         9365
registration                    34040
flight_phase                        5
flight_type                        31
survivors                           2
site                                6
schedule                        16829
msn                             20551
yom                               151
flight_number                    2814
location                        17272
country                           219
region                              9
crew_on_board                      31
crew_fatalities                    25
pax_on_board                      255
pax_fatalities                    187
other_fatalities                   47
total_fatalities                  202
captain_flying_hours             4132
captain_flying_hours_on_type     2129
copilot_flying_hours             1709
copilot_flying_hours_on_type     1071
aircraft_flying_hours            4939
aircraft_flight_cycles           1421
dtype: int64

### Aircrafts

In [348]:
aircrafts_df = pd.read_csv('data/aircrafts_scraped_data.csv').sort_values(by='name').reset_index(drop=True)
aircrafts_df.head()

,name,make,model,body,position,wing,tail,engine,engine_count,wing_span,length,height
0,328 SUPPORT SERVICES Dornier 328JET,FAIRCHILD DORNIER,328JET,Narrow,High wing,Fixed Wing,T-tail,Jet,Multi,20.90 m,20.90 m,7.20 m
1,ABHCO Gazelle,AEROSPATIALE,SA-341 Gazelle,NaN,NaN,Rotary,NaN,Turboshaft,Single,10.50 m,11.97 m,3.15 m
2,ABHCO SA-342 Gazelle,AEROSPATIALE,SA-341 Gazelle,NaN,NaN,Rotary,NaN,Turboshaft,Single,10.50 m,11.97 m,3.15 m
3,ADVANCED AIRCRAFT Spirit 750,CESSNA,P210 (turbine),Narrow,NaN,Fixed Wing,NaN,Turboprop,Single,11.20 m,8.59 m,2.95 m
4,ADVANCED AIRCRAFT Turbine P210,CESSNA,P210 (turbine),Narrow,NaN,Fixed Wing,NaN,Turboprop,Single,11.20 m,8.59 m,2.95 m

In [349]:
aircrafts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4146 entries, 0 to 4145
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          4146 non-null   object
 1   make          4146 non-null   object
 2   model         4146 non-null   object
 3   body          3540 non-null   object
 4   position      3184 non-null   object
 5   wing          4140 non-null   object
 6   tail          3175 non-null   object
 7   engine        4139 non-null   object
 8   engine_count  4141 non-null   object
 9   wing_span     4133 non-null   object
 10  length        4133 non-null   object
 11  height        4126 non-null   object
dtypes: object(12)
memory usage: 388.8+ KB

In [350]:
aircrafts_df.isnull().sum()

name              0
make              0
model             0
body            606
position        962
wing              6
tail            971
engine            7
engine_count      5
wing_span        13
length           13
height           20
dtype: int64

In [351]:
# Check for duplicates
aircrafts_df[aircrafts_df.duplicated(keep=False)]

,name,make,model,body,position,wing,tail,engine,engine_count,wing_span,length,height
17,AERMACCHI MB-339,AERMACCHI,MB-339,Narrow,Low wing with wing tip tanks,Fixed Wing,"Regular tail, low set",Jet,Single,10.90 m,11.00 m,4.00 m
18,AERMACCHI MB-339,AERMACCHI,MB-339,Narrow,Low wing with wing tip tanks,Fixed Wing,"Regular tail, low set",Jet,Single,10.90 m,11.00 m,4.00 m
22,AERO (1) Commander 560,AERO (1),Commander 560,Narrow,High wing,Fixed Wing,"Regular tail, low set",Piston,Multi,14.90 m,11.20 m,4.60 m
23,AERO (1) Commander 560,AERO (1),Commander 560,Narrow,High wing,Fixed Wing,"Regular tail, low set",Piston,Multi,14.90 m,11.20 m,4.60 m
36,AERO (2) L-159,AERO (2),L-159,Narrow,Low wing with wing tip tanks,Fixed Wing,"Regular tail, mid set",Jet,Single,9.50 m,12.70 m,4.80 m
...,...,...,...,...,...,...,...,...,...,...,...,...
4141,ZENAIR Zenith (CH-200),ZENAIR,Zenith (CH-200),Narrow,NaN,Fixed Wing,NaN,Piston,Single,7.00 m,6.25 m,2.11 m
4142,ZENAIR Zenith (CH-2000),ZENAIR,Zenith (CH-2000),Narrow,NaN,Fixed Wing,NaN,Piston,Single,8.79 m,7.01 m,2.08 m
4143,ZENAIR Zenith (CH-2000),ZENAIR,Zenith (CH-2000),Narrow,NaN,Fixed Wing,NaN,Piston,Single,8.79 m,7.01 m,2.08 m
4144,ZENAIR Zenith (CH-250),ZENAIR,Zenith (CH-250),Narrow,NaN,Fixed Wing,NaN,Piston,Single,7.00 m,6.25 m,2.11 m
4145,ZENAIR Zenith (CH-250),ZENAIR,Zenith (CH-250),Narrow,NaN,Fixed Wing,NaN,Piston,Single,7.00 m,6.25 m,2.11 m

In [352]:
aircrafts_df.nunique()

name            3761
make             125
model            578
body               2
position          25
wing               3
tail              21
engine             5
engine_count       2
wing_span        319
length           402
height           292
dtype: int64

---

## Data Cleaning

### Aircrafts

In [353]:
# Drop duplicates
aircrafts_df = aircrafts_df.drop_duplicates().reset_index(drop=True)

In [354]:
# Convert wing_span, length and height to float
dimensions = ['wing_span', 'length', 'height']

for column in dimensions:
	aircrafts_df[column] = aircrafts_df[column].str.replace(' m', '')
	aircrafts_df[column] = aircrafts_df[column].astype('float')


aircrafts_df[dimensions].describe()

         wing_span       length       height
count  3753.000000  3753.000000  3747.000000
mean     17.533642    17.315683     5.330507
std      11.182198    12.292348     3.504684
min       5.300000     2.830000     1.000000
25%      10.700000     9.000000     2.900000
50%      13.610000    13.500000     4.320000
75%      20.000000    19.760000     6.200000
max      88.500000    84.000000    24.090000

### Crashes

In [371]:
# Remove duplicates
crashes_df = crashes_df.drop_duplicates()

In [378]:
# Convert date column to datetime
crashes_df['date'] = pd.to_datetime(crashes_df['date'], format='%b %d, %Y at %H%M LT', errors='coerce') \
					.fillna(pd.to_datetime(crashes_df['date'], format='%b %d, %Y', errors='coerce'))
crashes_df.sample(5)

,date,aircraft_type,operator,registration,flight_phase,flight_type,survivors,site,schedule,msn,...,pax_on_board,pax_fatalities,other_fatalities,total_fatalities,captain_flying_hours,captain_flying_hours_on_type,copilot_flying_hours,copilot_flying_hours_on_type,aircraft_flying_hours,aircraft_flight_cycles
11298,1977-01-13 18:14:00,Tupolev TU-104,Aeroflot - Russian International Airlines,CCCP-42369,Landing (descent or approach),Scheduled Revenue Flight,No,Airport (less than 10 km from airport),Novossibirsk – Almaty,8 66 012 03,...,82.0,82.0,0.0,90,NaN,NaN,NaN,NaN,27189.0,12819.0
5285,1996-02-19 09:04:00,Douglas DC-9,Continental Airlines,N10556,Landing (descent or approach),Scheduled Revenue Flight,Yes,Airport (less than 10 km from airport),Washington DC - Houston,47423,...,82.0,0.0,0.0,0,17500.0,5000.0,2200.0,575.0,63132.0,58913.0
26233,1942-02-16 00:20:00,Armstrong Whitworth AW.38 Whitley,Royal Air Force - RAF,Z9229,Flight,Bombing,Yes,"Plain, Valley",Leeming - Leeming,2334,...,0.0,0.0,0.0,4,NaN,NaN,NaN,NaN,NaN,NaN
23803,1943-01-21 00:00:00,Handley Page H.P.57 Halifax II,Royal Air Force - RAF,DT581,Flight,Bombing,Yes,Mountains,Snaith - Snaith,NaN,...,0.0,0.0,0.0,2,NaN,NaN,NaN,NaN,NaN,NaN
1460,2014-02-02 07:36:00,Airbus A320,East Air,EY-623,Landing (descent or approach),Scheduled Revenue Flight,Yes,Airport (less than 10 km from airport),Moscow – Kulob,428,...,187.0,0.0,0.0,0,18321.0,509.0,2900.0,1300.0,54604.0,23974.0

In [ ]:
crashes_df['aircraft_type'].nunique()

1176

# Get accidents of the last 60 years
today = datetime.today()
recent_crashes_df = crashes_df[crashes_df['date'].dt.year >= today.year - 60]
recent_crashes_df

In [385]:
crashes_df.columns

Index(['date', 'aircraft_type', 'operator', 'registration', 'flight_phase',
       'flight_type', 'survivors', 'site', 'schedule', 'msn', 'yom',
       'flight_number', 'location', 'country', 'region', 'crew_on_board',
       'crew_fatalities', 'pax_on_board', 'pax_fatalities', 'other_fatalities',
       'total_fatalities', 'captain_flying_hours',
       'captain_flying_hours_on_type', 'copilot_flying_hours',
       'copilot_flying_hours_on_type', 'aircraft_flying_hours',
       'aircraft_flight_cycles'],
      dtype='object')

# Collapse airplane names
not_matched_mask = crashes_df['official_name'].isna()
print('Nb null values: {}'.format(not_matched_mask.sum()))
scorer_list = [fuzz.ratio, fuzz.partial_ratio, fuzz.token_set_ratio, fuzz.token_sort_ratio]
min_score = 100

while min_score > 80:
	for scorer in scorer_list:
		possible_names = aircrafts_df['name'].tolist()
		unique_aircraft_types = list(crashes_df[not_matched_mask]['aircraft_type'].sort_values().unique())

		for aircraft_type in unique_aircraft_types:
			potential_match = process.extractOne(aircraft_type, possible_names, scorer=fuzz.WRatio)

			if potential_match[1] >= min_score:
				same_name_mask = crashes_df['aircraft_type'] == aircraft_type
				crashes_df.loc[not_matched_mask & same_name_mask, 'official_name'] = potential_match[0]

		not_matched_mask = crashes_df['official_name'].isna()
		print('Nb null values: {}'.format(not_matched_mask.sum()))
	min_score -= 5

In [386]:
crashes_df.dtypes

date                            datetime64[ns]
aircraft_type                           object
operator                                object
registration                            object
flight_phase                            object
flight_type                             object
survivors                               object
site                                    object
schedule                                object
msn                                     object
yom                                    float64
flight_number                           object
location                                object
country                                 object
region                                  object
crew_on_board                          float64
crew_fatalities                        float64
pax_on_board                           float64
pax_fatalities                         float64
other_fatalities                       float64
total_fatalities                         int64
captain_flying_hours                   float64
captain_flying_hours_on_type           float64
copilot_flying_hours                   float64
copilot_flying_hours_on_type           float64
aircraft_flying_hours                  float64
aircraft_flight_cycles                 float64
dtype: object

In [ ]:
# Convert survivors to boolean

fuzz.WRatio('AVIONS FAIREY BN-2B Islander', 'AVIONS FAIREY BN-2A Islander')

## End